*{
  outline: 1px solid red;
}
.bg-img-code{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1h8OTU86kFeGB4POHYyM8IJuLO9UJGXoawSp4h4qdBlpVlPUU");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-height{
  min-height: 40vh;
}

.banner-buffer{
min-height: 5vh;
}

.name-banner{
  min-height: 30vh;
  border: 2px solid white;
  border-radius: 25px;
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkDH5YnmFpQG_xu5pK7t9sgA-uyvs52BSMrRjsaM1GOgyxqWrf");
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.card-header{
  padding: 0;
}

.skill-banner{
  min-height: 60vh;
}

.icon-size{
  font-size: 2rem;
}